@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-primary: var(--color-purple-500);
  --color-secondary: var(--color-slate-500);
}

* {
  font-family: 'Pretendard', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}